body {
	font-family: "Arial", sans-serif;
	background-color: silver;
}

fieldset {
	border: 2px groove;
}

#inputTextField {
	width: 100%;
	border: 2px inset;
}

#outputTextField {
	display: block;
	border: 2px inset;
	padding: 4px;
	background-color: grey;
}